@model IEnumerable<Gui_.Models.PatientViewModel>

@{
    ViewBag.Title = "Watch";
    Layout = "~/Views/MainLayout.cshtml";
}

<!--sub tabs-->
<section class="row" id="tmCallToAction">
    <div class="col-lg-8 tm-call-to-action-col" style="position:relative; left:285px; top:-100px; ">
        <div class="container-fluid">
            <div class="row tm-brand-row">
                <div class="col-lg-12 col-11 tm-contact-col">
                    <div class="tm-nav">
                        <nav class="navbar navbar-expand-lg navbar-light tm-bg-white-transparent tm-navbar">
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="navbar-brand"> @Html.ActionLink("Add", "Create", "Patient")</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="navbar-brand">@Html.ActionLink("Edit/Delete", "Index", "Patient")</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="navbar-brand">@Html.ActionLink("Watch Full List", "Watch", "Patient")</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end sub tabs-->
<section class="row tm-contact-row" style="background-color:white; position:relative; left:120px; top:-120px; width:1300px; opacity:0.8;">
    <label style="position:relative; top:-40px; left:10px;  color:black;">Search by id or by last name:</label>
    <input type="text" id="myInput" onkeyup="myFunction()" style="position:relative; width:300px; top:-10px; right:230px;  color:black;">
    <table class="table" id="myTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirthd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhonNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirthd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRegistration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhonNumber)
                </td>
                <td class="form-group">
                    @Html.ActionLink("Medical History", "History", "Prescription", new { @id = item.IdP }, null)
                </td>
            </tr>
        }

    </table>

</section>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
